/* Add CSS Styling */
#two {
    color: #0000ff;
    font-size: 36px;
}
#four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}
.onefive,
.three {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.three {
    font-size: 24px;
}