/* Add CSS Styling */
.clickone,
.clicktwo {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.clickone {
    background-color: #000000;
    color: #ffffff;
}

.clicktwo {
    background-color: #ffff00;
}