body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: #000000;
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.button {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
}

div.text {
  color: #000000;
  font-size: 22px;
  font-weight: 100;
}

.small-para {
  font-size: 14px;
}

#confirm-button {
  background: #008000;
  color: #ffffff;
  font-weight: bold;
} 

div .child {
  color: #000000;
  font-weight: 800;
  font-size: 14px;
}
